Source: onk
Section: utils
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 5.0), linux-kernel-headers (>= 2.6), xsltproc, docbook-xsl
Standards-Version: 3.7.2
Bugs: mailto:ubanus@users.sf.net

Package: onk
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: input-utils
Description: General event handler
